EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAP1XYtp1NXgqOTXtx-H1beZj_ULyyKW2Y
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=insta-4b180.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=insta-4b180
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=insta-4b180.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=942121821647
EXPO_PUBLIC_FIREBASE_APP_ID=1:942121821647:web:8b5e73f2b4d7255bc75eba
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-P0RWL2X0WM
